body{
    background-color: deepskyblue;
}

.mapdiv{
    width:50%;
    margin: auto;
}

.mapdiv path {
    fill: #008000;
    stroke: #ff0000;
    stroke-width:3px;
    transition: fill 0.5s;
}

/*.mapdiv :hover {
    fill:#000;
}*/
